{
  "extends": [
    "airbnb-base"
  ],
  "plugins": [
    "jest"
  ],
  "env": {
    "jest": true
  },
  "rules": {
    "jest/no-disabled-tests": "error",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "warn",
    "no-underscore-dangle": "off",
    "consistent-return": "warn"
  }
}
