{
  "env": {
    "jasmine": true
  },
  "extends": [
    "plugin:jasmine/recommended"
  ],
  "plugins": [
    "jasmine"
  ],
  "rules": {
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
  }
}
